.navbar_fixed {
  position: fixed;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index:1;
  top: 0;
  width: 100%;
  padding: 0 4.8rem;
  height: 6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar-home {
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }
  .logo {
    height: 5rem;
  }
  .navbar-login {
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }
  .navbar-register {
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }
  .navbar-cart-review {
    // display: flex;
    // flex-direction: row;
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }

  .search-bar {
    width: 100%;
  }
}
.navbar-container {
  padding: 0 4.8rem;
  height: 6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .navbar-home {
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }
  .logo {
    height: 5rem;
  }
  .navbar-login {
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }
  .navbar-register {
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }
  .navbar-cart-review {
    // display: flex;
    // flex-direction: row;
    color: #82869e;
    text-decoration: none;
    &:hover {
      color: #1435c3 !important;
    }
  }

  .search-bar {
    width: 100%;
  }
}
